/* A estilização do CSS vai estar listada na ordem do HTML  */

.tab-content {
    margin-left: 180px;
}

/* Janela dos produtos */

.main-products {
    width: 100%;    
    padding: 0 10px 0 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* .modal .modal-dialog {
  width: 80%;
} */

#preview {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#preview img {
  width: 100%;
  height: auto;
}

a {
    text-decoration: none;
    color: #FFF;
}

.nav-link:hover {
    background-color: darkblue;
}